# SPDX-FileCopyrightText: 2026 HIROAKI KAWAKITA
# SPDX-License-Identifier: MIT

build/
install/
build-consumer-test/
build-consumer-v010-compat/
build-consumer-v020/
out/
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.obj
*.pdb
*.idb
*.ilk
*.exe
*.lib
*.dll
*.dylib
*.so
*.a
*.log
